/*右下角圖片*/
.img{
    position: fixed;
    right:0;
    bottom:0;
    }
    
.img:hover{
    transform: scale(1.2);
}
/*導覽列*/
ul{
    list-style-type: none;
    margin: 0;
    padding: 0px;
    overflow: hidden;
    background-color: rgb(1, 3, 105);
    height: 53px;
    z-index: 1;
 
}

li{
    float: right;
}

li a, .dropbtn{
    display: inline-block;
    color: cornsilk;    
    text-align: center;
    padding: 15px 25px 30px;
    text-decoration: none;
}
li a:hover, .dropdown:hover .dropbtn{
    background-color: rgb(46, 42, 42);
}
li .dropbtn{
    display: inline-block;
} 
.base1 {
    background-color:rgb(1, 3, 105);
    height:53px;
    width: 100%;
    position: fixed;
    float: left;
    margin-bottom: 0px;
    z-index: 1;
}
/*left*/
.base2 {
    background-color: rgb(199, 199, 199);
    height:600px;
    width:50%;
    float:left;
    position: fixed;
}
.base41 {  
    height:170px;
    width:100%;
    float: right;
}
.base42 {
    height:230px;
    width:100%;
    float: right;
    margin-top: 0px;
}
.content1{
    width: 50%;
    float: left;
}
.content1 img:hover{
    transform: scale(0.8);
}
.content2{
    width: 25%;
    float: left;
}
.content3{
    width: 20%;
    height: 60%;
    float: left;
    margin-top: 0px;
}

.content1-1{
    background-color: rgb(1, 3, 105);
    width: 80%;
    height: 40px;
    text-align: center;
    top: 40px;
    border-radius: 10px;
    font-size: 25px;
    color: cornsilk;
    position: relative;
}

.content2-1{
    background-color:rgb(1, 3, 105) ;
    width: 100px;
    height: 100px;
    border-radius: 150px;
    margin: 15px;
}
.content2-1-1{
    color:cornsilk;
    text-align: center;
    position: relative;
    top: 40px;
}

.content2-2{
    background-color:rgb(33, 35, 148) ;
    width: 80px;
    height: 80px;
    border-radius: 150px;
    margin-left: 30px;
    margin-right: 0px;
    margin-top: 20px;
}
.content2-2-1{
    color:cornsilk;
    text-align: center;
    position: relative;
    top: 28px;
}
.content2 div:hover {
    background-color: rgb(46, 42, 42);
}
.content3 div:hover{
    background-color: rgb(46, 42, 42);
}
.content1-1:hover{
    background-color: rgb(46, 42, 42);
}
/*right*/
.base3 {
    background-color:#EEEEEE;
    height:1290px;
    width:50%;
    float:right;
    padding: 0px;
}
.base5 {
    height:400px;
    width:100%;
    float:left;
    overflow: hidden;

}
/*右邊圖片*/
.base5 img{
    display: block;
    margin: 0;
    padding:0px;
    width: 200px;
    height: 250px;
    transition: 0.5s;
}
.base5 img:hover{
    transform: scale(1.2);
}
.bottom {
    background-color:#a5a3a3;
    height:90px;
    width:100%;
    float:left;
}
.font{
    font-size: 20px;
    font-weight: bold;
    font-family: 'Microsoft JhengHei ';
    padding-left: 15px;
}
/*動畫*/
.image-container ul, li {
    list-style: none;
    margin: 0px;
    padding: 0px;
}

.image-container {
    width: 400px;
    height: 250px;
    margin: 0 ;
    padding: 0;
    border: 3px solid gold;
    overflow: hidden;
    margin-left: 80px;
}

 @keyframes move_hr {
    0%,
    20%{transform: translateX(0px);}
    30%,
    50%{transform: translateX(-400px);}
    60%,
    90%{transform: translateX(-800px);}
}
@keyframes move_hit {
    0%,
    20%{transform: translateX(0px);}
    30%,
    50%{transform: translateX(-400px);}
    60%,
    90%{transform: translateX(-800px);}
}
@keyframes move_RBI {
    0%,
    20%{transform: translateX(0px);}
    30%,
    50%{transform: translateX(-400px);}
    60%,
    90%{transform: translateX(-800px);}
}
.hr{
    height: 100%;
    width: 500%;
    display: flex;
    animation: move_hr 15s infinite;
}
.hit{
    height: 100%;
    width: 500%;
    display: flex;
    animation: move_hit 15s infinite;
}
.RBI{
    height: 100%;
    width: 500%;
    display: flex;
    animation: move_hit 15s infinite;
}

